<h1>Posts</h1>

<% if user_signed_in? %>
  <%= link_to "Create Post", new_post_path %>
<% end %>

<ul>
  <% @post.each do |post| %>
    <li>
      <%= post.title %><br>
      <%= post.body %><br>
      <%= post.user_id %>
    </li>
  <% end %>
</ul>
